<div class="d-grid col-6 bg-primary bg-opacity-25">
        <h2 class="text-primary ms-3 mt-2">Cpus: {{info.cpus}}</h2>
        <h2 class="text-primary ms-3 mt-2">Arguments: {{info.arguments}}</h2>
        <h2 class="text-primary ms-3 mt-2">Path: {{info.path}}</h2>
        <h2 class="text-primary ms-3 mt-2">SO: {{info.so}}</h2>
        <h2 class="text-primary ms-3 mt-2">Process Id: {{info.processId}}</h2>
        <h2 class="text-primary ms-3 mt-2">Node Version: {{info.nodeVer}}</h2>
        <h2 class="text-primary ms-3 mt-2">Folder: {{info.folder}}</h2>
        <h2 class="text-primary ms-3 mt-2">Memory usage rss: {{info.rss}}</h2>
</div>